/uf1nf2arrays_exercici7/build/
/ex8Arrays/nbproject/private/
/ex8Arrays/build/
/ex9arrays/nbproject/private/
/ex9arrays/build/
/ex10arrays/nbproject/private/
/ex10arrays/build/
/ex11arrays/nbproject/private/
/ex11arrays/build/
/ex12arrays/nbproject/private/
/ex12arrays/build/